body{ background-color: #383D58;}


ul{ color: white;}
.cl{text-size-adjusts: 60px; display: flex; 
padding-left: 100px;
    align-items: center;
    margin-top: 0px
    ;}

    .cll{text-size-adjusts: 60px; display: flex; 
        padding-left: 100px;
            align-items: center
            ;}

.foto{ display: flex;
align-items: center;
width: 300px;

}
.fot{ width: 500px;}



.escola{background-image: linear-gradient(#383d58, #00C8EB);}